<div id="menu" th:fragment="menu">
	<ul>

		<li id="about">&nbsp;Prenotazioni
			<ul class="subitems">
				<li class="subli"><a href="/prenota">Prenota</a></li>
				<li class="subli"><a href="/km">Inserisci Km</a></li>
				<li class="subli"><a href="/cancella">Cancella una
						prenotazione</a></li>
			</ul>
		</li>


		<li th:if="${session.loggedUser.impiegato()}" id="about">&nbsp;Inserimenti
			<ul class="subitems">
				<li class="subli"><a href="/insauto">Auto</a></li>
				<li class="subli"><a href="/insdip">Dipendenti</a></li>
				<li class="subli"><a href="/inspat">Patente</a>
			</ul>
		</li>


		<li th:if="${session.loggedUser.impiegato()}" id="about">&nbsp;Manutenzione
			<ul class="subitems">
				<li class="subli"><a href="/manu">Manutenzione</a></li>
				<li class="subli"><a href="/spese">Spese</a></li>
			</ul>
		</li>
		<!-- if lv >= 3 -->
		<li th:if="${session.loggedUser.responsabile()}"><a href="/trans">&nbsp;Trasferimenti</a></li>


		<!-- if lv >= 2 -->
		<li th:if="${session.loggedUser.responsabile()}" id="about">&nbsp;Dashboard
			<ul class="subitems">
				<li class="subli"><a href="/dashKm">Kilometraggio</a></li>
				<li class="subli"><a href="/dashManu">Manutenzione</a></li>
			</ul>
		</li>
	</ul>
</div>