<div id="menu" th:fragment="menu">
	<ul>
		<li id="about" th:inline="text">&nbsp;[[#{prenotazioni}]]
			<ul class="subitems">
				<li class="subli"><a href="/prenota" th:text="#{prenota}"></a></li>
				<li class="subli"><a href="/km" th:text="#{km}"></a></li>
				<li class="subli"><a href="/cancella" th:text="#{cancella}"></a></li>
			</ul>
		</li>
		<li th:if="${session.loggedUser.impiegato()}" id="about"
			th:inline="text">&nbsp;[[#{inserimenti}]]
			<ul class="subitems">
				<li class="subli"><a href="/insauto" th:text="#{auto}"></a></li>
				<li class="subli"><a href="/insdip" th:text="#{dipendenti}"></a></li>
				<li class="subli"><a href="/inspat" th:text="#{patente}"></a>
				<li class="subli"><a href="/modifica" th:text="#{modificaAuto}"></a>
				<li class="subli"><a href="/cancAuto" th:text="#{cancellaAuto}"></a>
			</ul>
		</li>


		<li th:if="${session.loggedUser.impiegato()}" id="about"
			th:inline="text">&nbsp;[[#{manutenzione}]]
			<ul class="subitems">
				<li class="subli"><a href="/manu" th:text="#{prenoManu}"></a></li>
				<li class="subli"><a href="/spese" th:text="#{spese}"></a></li>
			</ul>
		</li>
		<!-- if lv >= 3 -->
		<li th:if="${session.loggedUser.responsabile()}"><a href="/trans"
			th:text="#{trasferimenti}"></a></li>


		<!-- if lv >= 2 -->
		<li th:if="${session.loggedUser.responsabile()}" id="about">&nbsp;Dashboard
			<ul class="subitems">
				<li class="subli"><a href="/dashKm" th:text="#{dashKm}"></a></li>
				<li class="subli"><a href="/kmDip" th:text="#{kmDip}"></a></li>
				<li class="subli"><a href="/dashManu" th:text="#{dashManu}"></a></li>
				<li class="subli"><a href="/prenotazioniFut"
					th:text="#{prenotazioniFut}"></a></li>
				<li class="subli"><a href="/prenoPassate"
					th:text="#{prenoPassate}"></a></li>
				<li class="subli"><a href="/distribuzione"
					th:text="#{distribuzione}"></a></li>



			</ul>
		</li>
	</ul>
</div>