<!DOCTYPE html>

<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleLog.css">
</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central">

		<div id="login">
			<div id="lato">
				<form action="/dipendente/logged" method="post">
					<table>
						<tr>
							<td><label for="user_name">User:</label></td>

						</tr>
						<tr>
							<td><input type="text" name="user_name"></input></td>
						</tr>
						<tr>
							<td><label for="password">Password:</label></td>

						</tr>
						<tr>
							<td><input type="text" name="password"></input></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" value="Login"></input></td>
						</tr>
					</table>
				</form>
	</section>

	<footer>
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>