<!DOCTYPE html>
<!--Il livello 4 è l'operaio, questa pagina html si apre quando un dipendente entra con le credenziali di livello 4.
    in questa pagina è possibile selezionare solamente l'opzione prenotazioni-->
<html lang="en">
<head>
<title>Pagina iniziale</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">
<script src="PopUp.js"></script>

</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central">

		<div id="menu">
			<ul>

				<li id="about">&nbsp;Prenotazioni
					<ul class="subitems">
						<li class="subli"><a href="/prenota">Prenota</a></li>
						<li class="subli"><a href="/km">Inserisci Km</a></li>
					</ul>
				</li>

				<a onclick="myFunction()">
					<li th:if="${!loggedUser.moreThanTwo()}" id="about">&nbsp;Inserimenti</li>
				</a>

				<li th:if="${loggedUser.moreThanTwo()}" id="about">&nbsp;Inserimenti
					<ul class="subitems">
						<li class="subli"><a href="/insauto">Auto</a></li>
						<li class="subli"><a href="/insdip">Dipendenti</a></li>
					</ul>
				</li>
				<a onclick="myFunction()">
					<li th:if="${!loggedUser.moreThanTwo()}" id="about">&nbsp;Manutenzione</li>
				</a>
				<li th:if="${loggedUser.moreThanTwo()}" id="about">&nbsp;Manutenzione
					<ul class="subitems">
						<li class="subli"><a href="/manu">Manutenzione</a></li>
						<li class="subli"><a href="/spese">Spese</a></li>
					</ul>
				</li>
				<!-- if lv >= 3 -->
				<li th:if="${loggedUser.moreThanThree()}"><a href="/trans">&nbsp;Trasferimenti</a></li>
				<a onclick="myFunction()">
					<li th:if="${!loggedUser.moreThanThree()}" id="about">&nbsp;Trasferimenti</li>
				</a>
				<!-- if lv >= 2 -->
				<li th:if="${loggedUser.moreThanTwo()}"><a href="/dash">&nbsp;Dashboard</a></li>
				<a onclick="myFunction()">
					<li th:if="${!loggedUser.moreThanTwo()}" id="about">&nbsp;Dashboard</li>
				</a>
			</ul>
		</div>

		<button id="BottoneCambio">
			<a href="/">Cambia Utente</a>
		</button>
		<!--pulsante per tornare al log in-->

	</section>


	<footer>
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>