/*foglio css per stile di pagina, header, body e footer.*/
html, body {
	height: 100%;
	margin: 0;
	background-color: greenyellow;
}

.wrapper {
	min-height: 100%;
	/* Equal to height of footer */
	/* But also accounting for potential margin-bottom of last child */
	margin-bottom: -50px;
}

.footer, .push {
	height: 50px;
	margin-top: -50px;
	border-top: 3px solid green;
	text-align: center;
	border-top: 3px solid green
}

/* body { */
/* 	height: 800px; */
/* 	width: 100%; */
/* 	padding: 0; */
/* 	margin: 0; */
/* 	background-color: greenyellow; */
/* } */

/*stile per titolo "VIVAIO FELICE"*/
header {
	height: 150px;
}

h1 {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	float: left;
	margin-top: 20px;
	margin-bottom: 0;
	margin-left: 7px;
	font-size: 100px;
	font-family: Georgia;
	color: rgba(4, 212, 94, 0.932);
}

/* footer { */
/* 	height: 50px; */
/* 	border-top: 3px solid green; */
/* 	text-align: center; */
/* } */
footer p {
	font-size: 17px;
	font-style: oblique;
}

/*classe per la parte centrale, sotto il menu, dove si visualizzano i dati.*/
#central {
	height: 600px;
	border-top: 3px solid green;
}

/*immagine logo del sito*/
img {
	float: left;
	height: 140px;
	width: 140px;
	border-radius: 100%;
	border: 3px solid green;
	margin-top: 80px;
	margin-left: 37%;
	position: absolute;
}

.errore {
	color: red;
}