<html>
<body>
	<table>

		<tr>
			<td>Marca:</td>
		</tr>
		<tr>
			<td th:text="${auto.marca}"></td>
		</tr>
		<tr>
			<td>Modello:</td>
		</tr>
		<tr>
			<td th:text="${auto.modello}"></td>
		</tr>
		<tr>
			<td>Targa:</td>
		</tr>
		<tr>
			<td th:text="${auto.targa}"></td>
		</tr>
		<tr>
			<td>Patente necessaria:</td>
		</tr>
		<tr>
			<td th:switch="${auto.idPatente}">
				<p th:case="1">Patente B</p>
				<p th:case="2">Patente C</p>
			</td>
		</tr>

		<tr>
			<td>Carburante:</td>
		</tr>
		<tr>
			<td th:text="${auto.carburante}"></td>
		</tr>
		<tr>
			<td>KW:</td>
		</tr>
		<tr>
			<td th:text="${auto.kw}"></td>
		</tr>
		<tr>
			<td>Tara:</td>
		</tr>
		<tr>
			<td th:text="${auto.tara}"></td>
		</tr>
		<tr>
			<td>Data ultima assicurazione:</td>
		</tr>
		<tr>
			<td th:text="${auto.dataAssicurazione}"></td>
		</tr>
	</table>
</body>
</html>