<!DOCTYPE html>

<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleLog.css">
</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central">

		<div id="login">
			<div id="lato">
				<tr>
					<td>Attenzione, la data di fine non può essere precedente a
						quella di inizio.</td>
				</tr>
	</section>
	<tr>
		<button id="BottoneCambio">
			<a href="/torna">Torna Indietro</a>
		</button>
	</tr>
	<footer>
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>