<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">
<link rel="stylesheet" href="styleMenuPrenota.css">

</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central" class="wrapper">
		<!-- frammento per replicare la barra dei menu -->
		<div th:replace="fragments/menu :: menu"></div>

		<!-- Pulsante per tornare indietro o cambiare utente -->
		<button id="BottoneCambio">
			<a href="/distribuzione">Torna Indietro</a>
		</button>
		<div class="menuPrenotaAuto">
			<script
				src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://code.highcharts.com/modules/export-data.js"></script>
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/highcharts-3d.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>


			<!-- GRAFICO PER LE AUTO -->
			
			<div id="container" style="height: 400px"></div>
			<script th:inline="javascript">
		Highcharts.chart('container', {
			chart : {
				type : 'pie',
				options3d : {
					enabled : true,
					alpha : 50,
					beta : 0
				}
			},
			title : {
				text : 'Grafico per Auto in ogni Sede'
			},
			tooltip : {
				pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions : {
				pie : {
					allowPointSelect : true,
					cursor : 'pointer',
					depth : 35,
					dataLabels : {
						enabled : true,
						format : '{point.name}'
					}
				}
			},
			series : [ {
				type : 'pie',
				name : 'Ratio',
				data : [ [ 'Milano', [[${graficoAuto.get("Milano")}]] ], [ 'Como', [[${graficoAuto.get("Como")}]] ],
					[ 'Novara', [[${graficoAuto.get("Novara")}]] ], [ 'Campobasso', [[${graficoAuto.get("CampoBasso")}]] ],
					[ 'Enna', [[${graficoAuto.get("Enna")}]] ], [ 'Cutro', [[${graficoAuto.get("Cutro")}]] ],
					[ 'Brindisi', [[${graficoAuto.get("Brindisi")}]] ], [ 'Verona', [[${graficoAuto.get("Verona")}]] ],
					[ 'Roma', [[${graficoAuto.get("Roma")}]] ], [ 'Bologna', [[${graficoAuto.get("Bologna")}]] ],
					[ 'Firenze', [[${graficoAuto.get("Firenze")}]] ], [ 'Aosta', [[${graficoAuto.get("Aosta")}]] ]
				] } ]
		});
		</script>
		</div>
		<!-- div chiusura menu -->
	</section>


	<footer class="footer">
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>

</html>