<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">
<link rel="stylesheet" href="styleMenuPrenota.css">

</head>

<body>
	<header>
		<div>
			<h1 th:text="#{vivaio}"></h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central" class="wrapper">
		<!-- frammento per replicare la barra dei menu -->
		<div th:replace="fragments/menu :: menu"></div>

		<!-- Pulsante per tornare indietro o cambiare utente -->
		<button id="BottoneCambio">
			<a href="/distribuzione" th:text="#{indietro}"></a>
		</button>
		<div class="menuPrenotaAuto">
			<script
				src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://code.highcharts.com/modules/export-data.js"></script>
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/highcharts-3d.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>


			<!-- GRAFICO PER I DIPENDENTI -->

			<div id="container" style="height: 400px"></div>
			<script th:inline="javascript">
		Highcharts.chart('container', {
			chart : {
				type : 'pie',
				options3d : {
					enabled : true,
					alpha : 50,
					beta : 0
				}
			},
			title : {
				text : 'Grafico per Dipendenti in ogni Sede'
			},
			tooltip : {
				pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions : {
				pie : {
					allowPointSelect : true,
					cursor : 'pointer',
					depth : 35,
					dataLabels : {
						enabled : true,
						format : '{point.name}'
					}
				}
			},
			series : [ {
				type : 'pie',
				name : 'Ratio',
				data : [ [ 'Milano', [[${graficoDips.get("Milano")}]] ], [ 'Como', [[${graficoDips.get("Como")}]] ],
					[ 'Novara', [[${graficoDips.get("Novara")}]] ], [ 'Campobasso', [[${graficoDips.get("CampoBasso")}]] ],
					[ 'Enna', [[${graficoDips.get("Enna")}]] ], [ 'Cutro', [[${graficoDips.get("Cutro")}]] ],
					[ 'Brindisi', [[${graficoDips.get("Brindisi")}]] ], [ 'Verona', [[${graficoDips.get("Verona")}]] ],
					[ 'Roma', [[${graficoDips.get("Roma")}]] ], [ 'Bologna', [[${graficoDips.get("Bologna")}]] ],
					[ 'Firenze', [[${graficoDips.get("Firenze")}]] ], [ 'Aosta', [[${graficoDips.get("Aosta")}]] ]
				] } ]
		});
		</script>
		</div>
		<!-- div chiusura menu -->
	</section>

	<footer class="footer">
		<p th:text="#{footer}">Vivaio Felice Spa, Sede legale Milano via
			Ludovico il Moro</p>
	</footer>

</body>
</html>