<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">
<link rel="stylesheet" href="styleMenuPrenota.css">

</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central" class="wrapper">
		<!-- frammento per replicare la barra dei menu -->
		<div th:replace="fragments/menu :: menu"></div>

		<!-- Pulsante per tornare indietro o cambiare utente -->
		<button id="BottoneCambio">
			<a href="/">Cambia Utente</a>
		</button>
		<div class="menuPrenotaAuto">



			<h3 style="padding-left: 8%" id="comment" th:text="${titolo}"></h3>


			<td th:if="${reportAuto.isEmpty()}">Non ci sono report per
				l'auto.</td>
			<div th:if="${!reportAuto.isEmpty()}">
				<div class="container">


					<div id="container"
						style="width: 550px; height: 400px; margin: 0 auto;"></div>
				</div>
				<script
					src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
				<!-- Latest compiled and minified JavaScript -->
				<script
					src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
				<script src="https://code.highcharts.com/highcharts.js"></script>
				<script src="https://code.highcharts.com/modules/exporting.js"></script>
				<script src="https://code.highcharts.com/modules/export-data.js"></script>
				<script th:inline="javascript">
    $(function(){
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: [[${titoletto}]]
        },
        subtitle: {
            text: 'Vivaio Felice SPA'
        },
        xAxis: {
            categories: [[${reportAuto.keySet()}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            max: [[${max}]],
            title: {
                text: [[${asseY}]]
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: [[${serie}]],
            data: [[${reportAuto.values()}]]
        }]
    });
    });
</script>

				<form th:if="${autoInSede != null}" th:action="@{/dettaglioAutoKm}"
					method="post">
					<td class="closeShort"><select name=auto>
							<option th:each="a : ${autoInSede}" th:value="${a.id}"
								th:text="${a.toString()}"></option>
					</select></td>
					<td class="closeShort"><input type="submit" value="Dettaglio"></td>
				</form>
				<form th:if="${listaDate != null}"
					th:action="@{/dettaglioPrenoPassate}" method="post">
					<td class="closeShort"><select name="dataScelta">
							<option th:each="d : ${listaDate}" th:value="${d}" th:text="${d}"></option>
					</select></td>
					<td class="closeShort"><input type="submit" value="Dettaglio"></td>
				</form>
			</div>
	</section>


	<footer class="footer">
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>