<!DOCTYPE html>
<!--Il livello 4 è l'operaio, questa pagina html si apre quando un dipendente entra con le credenziali di livello 4.
    in questa pagina è possibile selezionare solamente l'opzione prenotazioni-->
<html lang="en">
<head>
<title th:text="#{pagInserimentoAuto}"></title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">
<link rel="stylesheet" href="styleMenuPrenota.css">
<script src="PopUp.js"></script>
</head>

<body>
	<header>
		<div>
			<h1 th:text="#{vivaio}"></h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central" class="wrapper">
		<!-- frammento per replicare la barra dei menu -->
		<div th:replace="fragments/menu :: menu"></div>

		<!-- Pulsante per tornare indietro o cambiare utente -->
		<button id="BottoneCambio">
			<a href="/indietro" th:text="#{indietro}"></a>
		</button>

		<!-- parte centrale della pagina dove verranno 
				visualizzate le azioni che si potranno effettuare -->
		<div class="menuPrenotaAuto">




			<form onsubmit="return submitForm();" th:action="@{/insertAuto}"
				th:object="${auto}" method="post">
				<th:block>
					<table class="firstTable">

						<h2 class="titleHdue" th:text="#{inserimentoAuto}"></h2>
						<p id="comment" th:text="#{compilaCampi}"></p>

						<td><input type="hidden" th:field="*{id}"></td>
						<tr>
							<td class="closeShort" th:text="#{marca}"></td>
							<td class="closeShort"><input type="text"
								th:field="*{marca}" /></td>
							<td class="errore" th:if="${#fields.hasErrors('marca')}"
								th:errors="*{marca}"></td>

							<td class="closeShort" th:text="#{modello}"></td>
							<td class="closeShort"><input type="text"
								th:field="*{modello}" /></td>
							<td class="errore" th:if="${#fields.hasErrors('modello')}"
								th:errors="*{modello}"></td>

							<td class="closeShort" th:text="#{targa}"></td>
							<td class="closeShort"><input type="text"
								th:field="*{targa}" /></td>
							<td class="errore" th:if="${#fields.hasErrors('targa')}"
								th:errors="*{targa}"></td>
						</tr>
						<tr>
							<td class="closeShort" th:text="#{carburante}"></td>
							<td class="closeShort"><select th:field="*{carburante}">
									<option th:each="c : ${carburanti}" th:value="${c.id}"
										th:text="${c.tipologia}"></option>
							</select></td>

							<td class="closeShort" th:text="#{patenteNec}"></td>
							<td class="closeShort"><select th:field="*{patente}">
									<option th:each="p : ${patenti}" th:value="${p.id}"
										th:text="${p.tipologia}"></option>
							</select></td>
						</tr>

						<tr>
							<td class="closeShort" th:text="#{kw}"></td>
							<td class="closeShort"><input type="text" th:field="*{kw}" /></td>
							<td class="errore" th:if="${#fields.hasErrors('kw')}"
								th:errors="*{kw}"></td>
							<td class="closeShort" th:text="#{tara}"></td>
							<td class="closeShort"><input type="text" th:field="*{tara}" /></td>
							<td class="errore" th:if="${#fields.hasErrors('tara')}"
								th:errors="*{tara}"></td>
						</tr>

						<tr>
							<td class="closeLong" th:text="#{dataAss}"></td>
							<td class="closeShort"><input type="date" name="dataAss"
								th:field="*{dataAss}" /></td>

						</tr>
						<tr>
							<td class="closeLong" th:text="#{kmIniziali}"></td>
							<td class="closeShort"><input type="text"
								th:field="*{kmIniziali}" /></td>
							<td class="errore" th:if="${#fields.hasErrors('kmIniziali')}"
								th:errors="*{kmIniziali}"></td>

						</tr>

						<!-- Pulsante per resettare i campi di inserimento -->
						<tr>
							<td class="closeShort"><input type="reset" value="Reset"></td>


						</tr>

						</th:block>
					</table>
					<section>

						<input type="submit" th:value="#{conferma}">

					</section>
			</form>
		</div>
	</section>

	<footer class="footer">
		<p th:text="#{footer}"></p>
	</footer>

</body>
</html>