<!DOCTYPE html>
<!--Il livello 4 è l'operaio, questa pagina html si apre quando un dipendente entra con le credenziali di livello 4.
    in questa pagina è possibile selezionare solamente l'opzione prenotazioni-->
<html lang="en">
<head>
<title>Lvl-3-Dip_InserimentoDip</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">
<link rel="stylesheet" href="styleMenuPrenota.css">
<script src="PopUp.js"></script>

</head>

<body>
	<header>
		<div>
			<h1 th:text="#{vivaio}"></h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central" class="wrapper">
		<!-- frammento per replicare la barra dei menu -->
		<div th:replace="fragments/menu :: menu"></div>

		<!-- Pulsante per tornare indietro o cambiare utente -->
		<button id="BottoneCambio">
			<a href="/indietro" th:text="#{indietro}"></a>
		</button>
		<!-- parte centrale della pagina dove verranno 
				visualizzate le azioni che si potranno effettuare -->
		<div class="menuPrenotaAuto">
			<form onsubmit="return submitForm();" th:action="@{/insert}"
				th:object="${dipendente}" method="post">
				<table class="firstTable">
					<th:block>

						<h2 class="titleHdue" th:text="#{inserimentoDip}"></h2>
						<p id="comment" th:text="#{compilaCampi}"></p>

						<td><input type="hidden" th:field="*{id}"></td>
						<td><input type="hidden" th:field="*{sedeDipendente.sede.id}"
							th:value="${session.sede}"></td>

						<tr>
							<td class="closeShort" th:text="#{livello}"></td>
							<td class="closeShort"><select th:field="*{livello}">
									<option th:each="l : ${livello}" th:value="${l.id}"
										th:text="${l.mansione}"></option>
							</select></td>
						</tr>

						<tr>
							<td class="closeShort" th:text="#{nome}">:</td>
							<td class="closeShort"><input type="text" th:field="*{nome}" /></td>
							<td class="closeShort" th:if="${#fields.hasErrors('nome')}"
								th:errors="*{nome}"></td>

							<td class="closeShort" th:text="#{cognome}"></td>
							<td class="closeShort"><input type="text"
								th:field="*{cognome}" /></td>
							<td th:if="${#fields.hasErrors('cognome')}"
								th:errors="*{cognome}"></td>
						</tr>
						<tr>
							<td class="closeShort" th:text="#{user}"></td>
							<td class="closeShort"><input type="text" th:field="*{user}" /></td>
							<td th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></td>

							<td class="closeShort" th:text="#{pass}"></td>
							<td class="closeShort"><input type="password"
								th:field="*{password}" /></td>
							<td th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}"></td>

							<td class="closeShort" th:text="#{passCon}"></td>
							<td class="closeShort"><input type="password" name="pass2">
						</tr>

						<!-- Pulsante per resettare i campi di inserimento -->
						<tr>
							<td class="closeShort"><input type="reset" value="Reset"></td>

						</tr>

					</th:block>
				</table>
				<section>

					<input type="submit" th:value="#{conferma}">

				</section>
			</form>
		</div>
	</section>

	<footer class="footer">
		<p th:text="#{footer}"></p>
	</footer>

</body>
</html>