<!DOCTYPE html>

<html lang="en">
<head>
<title th:text="#{pagLogin}"></title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleLog.css">

<style>
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 50px;
	border: 1.5px black solid;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
}
</style>
</head>

<body>
	<header>
		<div>
			<h1 th:text="#{vivaio}"></h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central" class="wrapper">

		<div id="login">
			<div id="lato">
				<form action="/logged" method="post">
					<table>
						<tr>
							<td><label for="user">User:</label></td>
						</tr>
						<tr>
							<td><input type="text" name="user" value="antlez81"></input></td>
						</tr>
						<tr>
							<td><label for="password">Password:</label></td>

						</tr>
						<tr>
							<td><input type="password" name="password" value="123456"></input></td>
						</tr>
						<tr>
							<td><input type="submit" value="Login"></input></td>
						</tr>
					</table>
				</form>
	</section>

	<footer class="footer">
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>