<!DOCTYPE html>
<!--Il livello 4 è l'operaio, questa pagina html si apre quando un dipendente entra con le credenziali di livello 4.
    in questa pagina è possibile selezionare solamente l'opzione prenotazioni-->
<html lang="en">
<head>
<title>Lvl-4-PrenotaAuto</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">
<link rel="stylesheet" href="styleMenuPrenota.css">
<script src="PopUp.js"></script>
</head>

<body>
	<header>
		<div>
			<h1 th:text="#{vivaio}"></h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central" class="wrapper">
		<!-- frammento per replicare la barra dei menu -->
		<div th:replace="fragments/menu :: menu"></div>

		<!-- Pulsante per tornare indietro o cambiare utente -->
		<button id="BottoneCambio">
			<a href="/torna" th:text="#{indietro}"></a>
		</button>

		<div class="menuPrenotaAuto">
			<form onsubmit="return confermaPrenota();"
				th:action="@{/confermadiprenotazione}" th:object="${prenotazione}"
				method="post">
				<table class="firstTable">
					<th:block>

						<h2 class="titleHdue" th:text="#{prenota}"></h2>

						<p id="comment" th:if="${!autoDisponibili.isEmpty()}"
							th:text="#{siAuto}"></p>

						<p id="comment" th:if="${autoDisponibili.isEmpty()}"
							th:text="#{noAuto}"></p>

						<!-- se ci sono auto disponibili verrà visualizzata una scelta tra le possibili auto da prenotare -->
						<tr th:if="${!autoDisponibili.isEmpty()}">
							<td class="closeLx2" th:text="#{auto}"></td>
							<td><select th:field="*{auto}">
									<option th:each="a : ${autoDisponibili}" th:value="${a.id}"
										th:text="${a.marca + '&nbsp;' + a.modello + '&nbsp;' + a.targa}"></option>
							</select></td>
						</tr>

						<!-- se non ci sono auto disponibili verrà visualizzato un messaggio di non disponibilità-->
						<tr th:if="${autoDisponibili.isEmpty()}">
							<td class="closeLx2" th:text="#{cambiaOrario}"></td>
						</tr>
					</th:block>
				</table>
				<section>
					<tr th:if="${!autoDisponibili.isEmpty()}">
						<!-- Pulsante per il POST, CSS incorporato in ogni pagina -->
						<td><input type="submit" th:value="#{conferma}"></td>
					</tr>
				</section>
			</form>
		</div>
	</section>

	<footer class="footer">
		<p th:text="#{footer}"></p>
	</footer>

</body>
</html>