<!DOCTYPE html>
<!--Il livello 4 è l'operaio, questa pagina html si apre quando un dipendente entra con le credenziali di livello 4.
    in questa pagina è possibile selezionare solamente l'opzione prenotazioni-->
<html lang="en">
<head>
<title>Lvl-4-PrenotaAuto</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">
<link rel="stylesheet" href="styleMenuPrenota.css">

<script src="PopUp.js"></script>
</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central">
		<div th:replace="fragments/menu :: menu"></div>


		<button id="BottoneCambio">
			<a href="/indietro">Torna Indietro</a>
		</button>

		<div class="menuPrenotaAuto">
			<form th:action="@{/confermadiprenotazione}"
				th:object="${prenotazione}" method="post">
				<table>
					<th:block>
						<tr th:if="${autoDisponibili.isEmpty()}">
							<td>Nelle date da te richieste non ci sono auto disponibili.</td>
						</tr>
						<tr th:if="${!autoDisponibili.isEmpty()}">
							<td>Auto Disponibili in base alle date da te richieste:</td>

						</tr>

						<tr th:if="${!autoDisponibili.isEmpty()}">

							<td><select th:field="*{auto}">
									<option th:each="a : ${autoDisponibili}" th:value="${a.id}"
										th:text="${a.marca + '&nbsp;' + a.modello + '&nbsp;' + a.targa}"></option>
							</select></td>


						</tr>
						<tr th:if="${autoDisponibili.isEmpty()}">
							<button id="BottoneCambio">
								<a href="/torna">Torna Indietro</a>
							</button>
						</tr>
						<tr th:if="${!autoDisponibili.isEmpty()}">
							<td><input type="submit" value="Scegli quest'auto"></td>
						</tr>
					</th:block>
				</table>
			</form>
		</div>
	</section>

	<footer>
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>