<!DOCTYPE html>
<!--Il livello 4 è l'operaio, questa pagina html si apre quando un dipendente entra con le credenziali di livello 4.
    in questa pagina è possibile selezionare solamente l'opzione prenotazioni-->
<html lang="en">
<head>
<title>Lvl-3-Dip_Spese</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">

<script src="PopUp.js"></script>
</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central">
		<div th:replace="fragments/menu :: menu"></div>
		<div>
			<form th:action="@{/spesainserita}" th:object="${spesaManutenzione}"
				method="post">
				<table>
					<th:block>

						<tr>
							<td>Spesa da confermare:</td>
						</tr>

						<tr>
							<td><select th:field="*{id}">
									<option th:each="s : ${speseDaConfermare}" th:value="${s.id}"
										th:text="${s.auto.marca + '&nbsp;' + s.auto.modello + '&nbsp;' + s.auto.targa + '&nbsp;' + s.descrizione}"></option>
							</select></td>
						</tr>
						<tr>
							<td>Dettaglio:</td>
						</tr>
						<tr>
							<td><input type="text" th:field="*{dettaglio}" />
						</tr>
						<tr>
							<td>Spesa:</td>
						</tr>
						<tr>
							<td><input type="text" th:field="*{spesa}" /></td>
						</tr>

						<tr>
							<td><input type="submit" value="Conferma i dati inseriti"></td>
							<td><input type="reset" value="Resetta"></td>
						</tr>
					</th:block>
				</table>
			</form>
		</div>
		<button>
			<a href="/indietro">Torna Indietro</a>
		</button>

	</section>

	<footer>
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>