<!DOCTYPE html>
<!--Il livello 4 è l'operaio, questa pagina html si apre quando un dipendente entra con le credenziali di livello 4.
    in questa pagina è possibile selezionare solamente l'opzione prenotazioni-->
<html lang="en">
<head>
<title>Lvl-2-Resp_Trasferimenti</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">
<link rel="stylesheet" href="styleMenuPrenota.css">
<script src="PopUp.js"></script>
</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central" class="wrapper">
		<!-- frammento per replicare la barra dei menu -->
		<div th:replace="fragments/menu :: menu"></div>

		<!-- Pulsante per tornare indietro o cambiare utente -->
		<button id="BottoneCambio">
			<a href="/indietro">Torna Indietro</a>
		</button>

		<!-- parte centrale della pagina dove verranno 
				visualizzate le azioni che si potranno effettuare -->
		<div class="menuPrenotaAuto">
			<form onsubmit="return confermaPrenota();"
				th:action="@{/trasferimento}" th:object="${parcheggio}"
				method="post">
				<table class="firstTable">
					<th:block>

						<h2 class="titleHdue">Trasferimento Auto</h2>
						<p id="comment">Seleziona l'auto, la sede del trasferimento e
							la data in cui dovrà essere eseguito:</p>
						<tr>
							<td class="closeShort">Auto da trasferire:</td>
							<td class="closeShort"><select th:field="*{auto}">
									<option th:each="a : ${autoInSede}" th:value="${a.id}"
										th:text="${a.marca + '&nbsp;' + a.modello + '&nbsp;' + a.targa}"></option>
							</select></td>
						</tr>
						<tr>
							<td class="closeShort">Sede che la riceverà:</td>
							<td class="closeShort"><select th:field="*{sede}">
									<option th:each="s : ${sedipossibili}" th:value="${s.id}"
										th:text="${s.regione + '&nbsp;' + s.citta}"></option>
							</select></td>
						</tr>

						<tr>
							<td class="closeShort">Data del trasferimento:</td>
							<td class="closeShort"><input type="date" name="dataParch"
								th:field="*{dataParch}"></td>
							<td class="errore" th:if="${#fields.hasErrors('dataParch')}"
								th:errors="*{dataParch}"></td>
						</tr>

						<!-- Pulsante per resettare i campi di inserimento -->
						<tr>
							<td class="closeShort"><input type="reset" value="Resetta"></td>
						</tr>
					</th:block>
				</table>
				<section>
					<input type="submit" value="Conferma il Trasferimento">
				</section>
			</form>
		</div>
	</section>

	<footer class="footer">
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>