#secondoMenu{
    padding-top: 30px;
    padding-left: 15%;
}

.colore{
    background-color: green;
}

#inserimento{
    height: 50%;
    width: 60%;
    margin-left: 10%;
    margin-right: 25%;
    margin-top: 7%;
    background-color: cornsilk;
    border-radius: 50px;
    border: 1px solid black;
}

/*stile per provaPagineOperai*/


.libottone{
    padding-top: 40px;
}

#campiInserimento{
    width: 20%;

    float: left;
    height: 60%;
}
#CampiInvio{
    width: 50%;

    float: right;
    height: 60%;
}
#pulsantePrenota{
    margin-top: 30px;
    margin-left: 0;
    padding: 10px;
}
#pulsanteInserisci{
    margin-left: 25px;
    margin-top: 30px;
}

h3{
    padding-left: 40px;
}

#inserimento div{
    padding-left: 10%;
}
#inserimento input{
    margin-left: 50px;
}

p{
    font-style: italic;
}



/*
float: left;
padding-top: 30px;
padding-left: 15%;
width: 75%;
border: 1px solid black;*/