#secondoMenu{
    padding-top: 30px;
    padding-left: 15%;
}

.colore{
    background-color: green;
}

#inserimento{
    height: 50%;
    width: 60%;
    margin-left: 10%;
    margin-right: 25%;
    margin-top: 7%;
    background-color: cornsilk;
    border-radius: 50px;
    border: 1px solid black;
}

/*stile per provaPagineOperai*/

h3{
    padding-left: 40px;
}

#inserimento div{
    padding-left: 10%;
}
#inserimento input{
    margin-left: 50px;
}

p{
    font-style: italic;
}



/*
float: left;
padding-top: 30px;
padding-left: 15%;
width: 75%;
border: 1px solid black;*/