<!DOCTYPE html>
<!--Il livello 4 è l'operaio, questa pagina html si apre quando un dipendente entra con le credenziali di livello 4.
    in questa pagina è possibile selezionare solamente l'opzione prenotazioni-->
<html lang="en">
<head>
<title>Lvl-3-Dip_InserimentoAuto</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">

<script src="..\Js\PopUp.js"></script>
</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central">
		<div id="menu">
			<ul>
				<li><a onclick="myFunction()">&nbsp;Prenotazioni</a></li>
				<!--Menu a tendina per inserimenti auto e dipendenti-->
				<li id="about">&nbsp;Inserimenti
					<ul class="subitems">
						<li class="subli"><a href="/IMPinsauto">Auto</a></li>
						<li class="subli"><a href="/IMPinsdip">Dipendenti</a></li>
					</ul>
				</li>

				<!--Menu a tendina per inserimenti Manutenzione e Spese-->
				<li id="about">&nbsp;Manutenzione
					<ul class="subitems">
						<li class="subli"><a href="/IMPmanu">Manutenzione</a></li>
						<li class="subli"><a href="/IMPspese">Spese</a></li>
					</ul>
				</li>


				<li><a onclick="myFunction()">&nbsp;Trasferimenti</a></li>

				<li><a href="/IMPdash">&nbsp;Dashboard</a></li>
			</ul>
		</div>

		<form th:action="@{/insertAuto}" th:object="${auto}" method="post">
			<table>
				<th:block>
					<tr>
						<td>Marca:</td>
					</tr>
					<tr>
						<td><input type="text" th:max="4" th:field="*{marca}" /></td>

					</tr>
					<tr>
						<td>Modello:</td>
					</tr>
					<tr>
						<td><input type="text" th:field="*{modello}" /></td>

					</tr>
					<tr>
						<td>Targa:</td>
					</tr>
					<tr>
						<td><input type="text" th:field="*{targa}" /></td>
					</tr>
					<tr>
					<tr>
						<td>Carburante:</td>
					</tr>
					<tr>
						<td><input type="text" th:field="*{carburante}" /></td>
					</tr>
					<tr>
						<td>Patente necessaria: (1 per Patente B, 2 per Patente C)</td>
					</tr>
					<tr>
						<td><input type="number" th:min="1" th:max="2"
							th:field="*{idPatente}" /></td>
					</tr>
					<td>Kw:</td>
					</tr>
					<tr>
						<td><input type="text" th:field="*{kw}" /></td>

					</tr>
					<tr>
						<td>Tara:</td>
					</tr>
					<tr>
						<td><input type="text" th:field="*{tara}" /></td>
					</tr>
					<tr>
						<td>Data ultima assicurazione:</td>
					</tr>
					<tr>
						<td><input type="date" th:field="*{dataAssicurazione}" /></td>
					</tr>
					<tr>
						<td><input type="submit" value="Inserisci Auto"></td>
					</tr>
				</th:block>
			</table>
		</form>
		<button>
			<a href="/impiegati">Torna Indietro</a>
		</button>

	</section>

	<footer>
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>