<!DOCTYPE html>
<!--Il livello 4 è l'operaio, questa pagina html si apre quando un dipendente entra con le credenziali di livello 4.
    in questa pagina è possibile selezionare solamente l'opzione prenotazioni-->
<html lang="en">
<head>
<title>Lvl-4-PrenotaAuto</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">
<link rel="stylesheet" href="styleMenuPrenota.css">

<script src="PopUp.js"></script>
</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central">
		<div id="menu">
			<ul>

				<li id="about">&nbsp;Prenotazioni
					<ul class="subitems">
						<li class="subli"><a href="/prenota">Prenota</a></li>
						<li class="subli"><a href="/km">Inserisci Km</a></li>
					</ul>
				</li>

				<li id="about">&nbsp;Inserimenti
					<ul th:if="${logged.moreThanTwo()}" class="subitems">
						<li class="subli"><a href="/insauto">Auto</a></li>
						<li class="subli"><a href="/insdip">Dipendenti</a></li>
					</ul>
				</li>
				<!--  if lv >= 2 -->
				<li id="about">&nbsp;Manutenzione
					<ul th:if="${logged.moreThanTwo()}" class="subitems">
						<li class="subli"><a href="/manu">Manutenzione</a></li>
						<li class="subli"><a href="/spese">Spese</a></li>
					</ul>
				</li>
				<!-- if lv >= 3 -->
				<li th:if="${logged.moreThanThree()}"><a href="/trans">&nbsp;Trasferimenti</a></li>
				<li th:if="${!logged.moreThanThree()}">&nbsp;Trasferimenti</li>
				<!-- if lv >= 2 -->
				<li th:if="${logged.moreThanTwo()}"><a href="/dash">&nbsp;Dashboard</a></li>
				<li th:if="${!logged.moreThanTwo()}">&nbsp;Dashboard</li>
			</ul>
		</div>



		<button id="BottoneCambio">
			<a href="/indietro">Torna Indietro</a>
		</button>

		<div class="menuPrenotaAuto">
			<form th:action="@{/richiestadiprenotazione}"
				th:object="${prenotazione}" method="post">
				<table>
					<th:block>
						<tr>
							<td>Data di inizio:</td>
						</tr>

						<tr>
							<td><input type="datetime-local" name="dataInizio"
								th:field="*{dataInizio}" /></td>


						</tr>
						<tr>
							<td>Data di fine:</td>
						</tr>
						<tr>
							<td><input type="datetime-local" name="dataFine"
								th:field="*{dataFine}" /></td>

						</tr>
						<tr>
							<td><input type="submit" value="Richiedi auto disponibili"></td>
						</tr>
					</th:block>
				</table>
			</form>
		</div>
	</section>

	<footer>
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>