<!DOCTYPE html>
<!--Il livello 4 è l'operaio, questa pagina html si apre quando un dipendente entra con le credenziali di livello 4.
    in questa pagina è possibile selezionare solamente l'opzione prenotazioni-->
<html lang="en">
<head>
<title>Lvl-2-Resp_Manutenzione</title>
<meta charset="utf-8">
<link rel="stylesheet" href="stylePagina.css">
<link rel="stylesheet" href="styleMenu.css">

<script src="PopUp.js"></script>
</head>

<body>
	<header>
		<div>
			<h1>Vivaio Felice</h1>
		</div>
		<img src="vivaio_felice_immagine.png">
	</header>

	<section id="central">
		<div id="menu">
			<ul>
				<li>&nbsp;Prenotazioni</li>
				<li><a onclick="myFunction()">&nbsp;Inserimenti</a></li>
				<li>&nbsp;Manutenzione</li>
				<li>&nbsp;Trasferimenti</li>
				<li>&nbsp;Dashboard</li>
			</ul>
		</div>

		<h3>MANUTENZIONE ORDINARIA E STRAORDINARIA DA PARTE DEL
			RESPONSABILE DI SEDE</h3>
		<input>Manutenzione Straordinaria/Ordinaria</input>
		<button>
			<a href="/responsabili">Torna Indietro</a>
		</button>

	</section>

	<footer>
		<p>Vivaio Felice Spa, Sede legale Milano via Ludovico il Moro</p>
	</footer>

</body>
</html>